<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/tomorrow.css">
    <link rel="stylesheet" href="static/css/day_after_tomorrow.css">
    <title>熱中症危険度予測AI@神戸</title>
</head>
<body>
    <header>
        <h1 class="title">
            熱中症危険度予測AI@神戸
        </h1>
        <nav>
            <ul class="nav_ul">
                <li class="nav_list"><a href='/'>Today</a></li>
                <li class="nav_list"><a href="#">Tomorrow</a></li>
                <li class="nav_list"><a href="#">Day after Tomorrow</a></li>
            </ul>
        </nav> 
            
    </header>

</body>
</html>